@font-face {
    font-family: 'Mic-icon';
    src: url("./font/micon.eot?v=20180525");
    src: url("./font/micon.eot?#iefix&v=20180525") format("embedded-opentype"),
    url("./font/micon.woff?v=20180525") format("woff"),
    url("./font/micon.ttf?v=20180525") format("truetype");
    font-weight: normal;
    font-style: normal;
}
