* {
    user-select: none
}

.dragbox-wrapper {
    position: relative;

    img{
        vertical-align: middle;
    }
    .img-dark {
        opacity: 0.3;     
    }

    .img-light {
        position: absolute;
        top: 0;
        left: 0;
        clip: rect(0, 100%, 100%, 0);
    }

    .mark-txt {
        position: relative;
        left: 0;
        top: 0;
        font-size: 18px;
        color: #000;
        display: inline-block;
        // line-height: 1.5;
        white-space: nowrap;
        // padding: 0 5px;
        text-align: center;
        vertical-align: top;
    }
    svg{
        text{
            font-size: 18px;
        }
    }

    .drag-box {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        /*第三层需用绝对定位浮在上面*/
        width: 100%;
        height: 100%;
        border: 1px solid #000;
        box-sizing: border-box;
        cursor: move;

        .drag-point {
            position: absolute;
            width: 6px;
            height: 6px;
            background: #000;
            border: 1px solid #fff;
            z-index: 2;
        }

        &.style-2{
            border: 1px solid #fff;
            .drag-point{
                background: none;
                border: 1px solid #fff;
            }
        }

        .up-left {
            margin-top: -4px;
            margin-left: -4px;
            cursor: nw-resize;
        }

        .up {
            left: 50%;
            /*父元素盒子main宽度的一半，注意要有绝对定位*/
            margin-left: -4px;
            top: -4px;
            cursor: n-resize;
        }

        .up-right {
            top: -4px;
            right: -4px;
            cursor: ne-resize;
        }

        .right {
            top: 50%;
            margin-top: -4px;
            right: -4px;
            cursor: e-resize;
        }

        .right-down {
            right: -4px;
            bottom: -4px;
            cursor: se-resize;
        }

        .down {
            bottom: -4px;
            left: 50%;
            margin-left: -4px;
            cursor: s-resize;
        }

        .left-down {
            left: -4px;
            bottom: -4px;
            cursor: sw-resize;
        }

        .left {
            left: -4px;
            top: 50%;
            margin-top: -4px;
            cursor: w-resize;
        }

        .up,
        .down,
        .left,
        .right {
            display: none;
        }
    }

}