@charset "UTF-8";
@mixin inline-block($valign: middle) {
    display: inline-block;
    vertical-align: $valign;
    *vertical-align: $valign;
    *display: inline;
    *zoom: 1;
}

%inline-block {
    @include inline-block;
}
$color-txt: #999ba7;
$shadow-color: rgba(0, 33, 66, .1);

// ---------

.select {
	@extend %inline-block;
	min-width: 80px;
	padding-right: 16px;
	position: relative;
	line-height: 1.5;
	color: $color-txt;
	border-radius: 3px;
	background: #507194;
	border: 1px solid #222;
	vertical-align: middle;

	&:hover {
		background-color: #26415f;
	}

	.select-title {
		cursor: pointer;
		white-space: nowrap;
		overflow: hidden;
	}

	.select-selected {
		@extend %inline-block;
		padding: 0 0 0 10px;
		text-decoration: none;
		white-space: nowrap;
	}
	.select-arrow {
		box-sizing: content-box;
		position: absolute;
		// padding: 0 5px;
		right: 0;
		top: 50%;
		margin-top: -8px;
		width: 16px;
		height: 16px;
		line-height: 1;
		transition: transform .2s ease;

		&.active{
			transform: rotate(180deg);
		}

		.ob-icon {
            font-size: 16px;
            margin-right: 0;
		}
	}
	.select-list {
		display: none;
		background: #507194;
		position: absolute;
		left: -1px;
		top: 100%;
		margin-top: 1px;
		min-width: 100%;
		*width: 100%;
		border: 1px solid #222;
		border-radius: 3px;
		box-shadow: 2px 2px 3px $shadow-color;
		z-index: 66;
	}
	.select-list-wrap {
		overflow: auto;
		max-height: 300px;
		*height: 300px;
		padding: 5px 0;
		min-width: 100%;
		*width: 100%;
	}
	.select-opt {
		padding: 3px 10px;
		color: $color-txt;
		display: block;
		word-wrap: break-word;
		text-decoration: none;

		&:hover,
		&.hover,
		&.selected {
			color: #dbebfb;
			background: #27486b;
		}
	}

}