@import './var';
@import './reset';
@import './font';
@import './ob-icon';
@import './select';
@import './dragbox';

$color-txt: #999ba7;

@mixin clearfix {
    *zoom: 1;
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
.pipeImg-dialog{
    // display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2025;
    top: 0px;
    left: 0px;
    overflow: hidden;
    .pipe-mask{
        position: relative;
        z-index: 1;
        height: 100%;
        background: rgb(0, 0, 0) none repeat scroll 0% 0%;
        opacity: 0.6;
    }
}
.pipeImg-wrapper{
    // width: 740px;
    // height: 580px;
    background-color: #212234;
    position: absolute;
    z-index: 2;
    top: 50%;
    margin-top: -290px;
    left: 50%;
    margin-left: -370px;

    .ob-icon{
        font-size: 12px;
        margin-right: 4px;
    }
    
    .pipeImg-menu{
        font-size: 0;
        .pipeImg-item{
            position: relative;
            display: inline-block;
            border-right: 1px solid #48495d;
            box-sizing: border-box;
            &:hover,&.active{
                border-bottom: 1px solid #8ac3d4;           
            }
            &:hover{
                .item-sub{
                    display: block;
                }
            }
            .item-sub{
                display: none;
                position: absolute;
                left: 0;
                top: 41px;
                width: 178px;
                z-index: 3;
                border-right: none;
                background-color: #393a4c;
            }
        }
    }
    .pipeImg-btn{
        display: block;
        padding: 0 20px;
        line-height: 40px;
        color: $color-txt;
        font-size: 12px;
        &:hover{
            color: #fff;
        }
        &.btn-close{
            position: absolute;
            right: 0;
            top: 0;
            border-left: 1px solid #48495d;
        }
    }
    
    .pipeImg-buttons{
        position: absolute;
        right: 10px;
        top: 7px;
        font-size: 0;
        .pipeImg-button{
            display: inline-block;
            padding: 0 15px;
            line-height: 26px;
            color: #e1e5ee;
            font-size: 12px;
            background-color: #4b5668;
            border-radius: 4px;
            &.active:hover{
                color: #fff;
            }
            &.button-main{
                background-color: #41b64b;
                margin-right: 10px;      
            }
            &.button-confirm{
                background-color: #d86562;
                margin-right: 10px;
            }
        }
    }
    .pipeImg-header{
        position: relative;
        background-color: #393a4c;
    }
    .pipeImg-content{
        // height: 454px;
        // padding: 10px 0;
        position: relative;
        width: 740px;
        height: 480px;

        .pipeImg-panel{
            position: absolute;
            left: 0;
            top: 0;

            // z-index: 1;
            // display: none;
            visibility: hidden;
            &.active{
                // display: block;
                visibility: visible;
                // z-index: 2;
            }
            &.panel-mark-all{
                // position: relative;
     
                .img-box{
                    width: 600px;
                    padding-right: 120px;
                }
                .imgs-thumbnail{
                    position: absolute;
                    right: 20px;
                    top: 0;
                    height: 100%;
                    padding: 10px 0;
                    overflow: auto;
                    box-sizing: border-box;

                    .img-thumbnail{
                        display: block;
                        margin-bottom: 10px;
                        max-width: 86px;
                        height: 62px;
                        opacity: 0.5;
                        &.active{
                            opacity: 1;
                        }
                        img{
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                }
            }
            &.scale-panel{
                overflow: hidden;
            }
        }
        
        .img-box{
            position: relative;
            width: 720px;
            height: 420px;
            margin: 10px;
            display: flex;
            align-items:center;
            justify-content:center;

            img{
                max-width: 100%;
                max-height: 100%;
            }
            .scale-img-wrapper{
                position: absolute;
                left: 50%;
                top: 50%;
                img{
                    max-width: none;
                    max-height: none;
                }
            }
            
        }
        .content-footer{
            @include clearfix;
            display: flex;
            position: relative;
            padding: 10px;
            // height: 34px;
            background-color: #212234;
            .size{
                // float: left;
                display: block;
                color: $color-txt;
                font-size: 12px;
                padding-right: 25px;
                line-height: 20px;
            }
            .btn-rotate{
                // float: left;
                display: block;
                line-height: 20px;
                padding: 0 25px;
                border-left: 1px solid #48495d;
            }
            .txt,.txt-label{
                color: $color-txt;       
            }
            .txt{
                padding: 0 6px;
            }
            .txt-label{
                display: inline-block;
                padding-right: 8px;
            }
            .pipeImg-item{
                display: flex;
            }
            .color{
                display: flex;
                width: 20px;
                height: 20px;
                vertical-align: middle;
                background-color: #fff;
                box-sizing: border-box;
                cursor: pointer;
                margin-left: 4px;
                &:first-child{
                    margin-left: 0;
                }
                
                &.color-black{
                    background-color: #000;
                }
            }
            input[type="radio"]:checked + .color{
                border: 2px solid #4f8b4d;
            }
            .position{
                display: flex;
                width: 20px;
                height: 16px;
                vertical-align: middle;
                box-sizing: border-box;
                border: 2px solid #9a9bad;
                margin-left: 4px;
                &:first-child{
                    margin-left: 0;
                }
                .line{
                    display: inline-block;
                    width: 8px;
                    border-top: 2px solid #9a9bad;
                }
                &.center{
                    justify-content:center;
                    align-items:center;          
                }
                &.left-top{                   
                    justify-content:flex-start;
                    align-items:flex-start;
                }
                &.right-top{
                    justify-content:flex-end;
                    align-items:flex-start;
                }
                &.left-bottom{
                    justify-content:flex-start;
                    align-items:flex-end;
                }
                &.right-bottom{
                    justify-content:flex-end;
                    align-items:flex-end;
                }
            }
            input[type="radio"]:checked + .position{
                border: 2px solid #4f8b4d;
                .line{
                    border-top: 2px solid #4f8b4d;
                }
            }
            .pipeImg-item{
                float: left;
                padding: 0 14px;
                border-left: 1px solid #48495d;
                &:first-child{
                    padding: 0 14px 0 0;
                    border-left: none;
                }
            }

            .scale-range{
                margin-top: 2px;
                margin-left: 10;
                width: 120px;
            }
            .opacity-range{
                margin-top: 2px;
                width: 75px;
            }
            // range标签样式美化
            input[type="range"] {
                // 去除浏览器默认的样式
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                &:focus {
                    // 去除落焦时的外边框效果
                    outline: none;
                }
                background-color: #212234;
            }
            // 轨道样式
            input[type=range]::-webkit-slider-runnable-track{
                height: 5px;
                border-radius: 5px; /*将轨道设为圆角的*/
                background: #2f4260;
                border: none;
            }
            input[type=range]::-moz-range-track{
                height: 5px;
                border-radius: 5px; /*将轨道设为圆角的*/
                background: #2f4260;
                border: none;
            }

            // 滑块样式
            input[type=range]::-webkit-slider-thumb {
                -webkit-appearance: none;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                position: relative;
                top: -3px;
                background: #406989;
                border: none;
            }
            input[type=range]::-moz-range-thumb {
                -moz-appearance: none;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                position: relative;
                top: -3px;
                background: #406989;
                border: none;
            }
            input[type=range]::-ms-thumb {
                -ms-appearance: none;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                position: relative;
                top: -3px;
                background: #406989;
                border: none;
            }
            // IE轨道样式
            input[type=range]::-ms-track {
                height: 5px;
                border-radius: 5px;
                border-color: transparent; /*去除原有边框*/
                color: transparent; /*去除轨道内的竖线*/
                background: #2f4260;
                border: none;
            } 
            input[type=range]::-ms-fill-lower {
                /*进度条已填充的部分*/
                height: 5px;
                border-radius: 5px;
                background: #2f4260;
            } 
            input[type=range]::-ms-fill-upper {
                /*进度条未填充的部分*/
                height: 5px;
                border-radius: 5px;
                background: #2f4260;
            } 


            input[type="text"]{   
                width: 46px;          
                border:1px solid #333446; 
                padding: 2px;
                background-color: #141527;
                color: $color-txt;
            }

            .fix{
                margin: 0 6px;
                display: flex;
                width: 20px;
                height: 20px;
                vertical-align: middle;
                color: $color-txt;
                justify-content:center;
                align-items:center;  
                cursor: pointer;
                .ob-icon{
                    margin: 0;
                }
            }
            input[type="checkbox"]:checked + .fix{
                background-color: #141527;
            }

        }
        
    }
    .pipeImg-footer{
        position: relative;
        background-color: #393a4c;
        font-size: 0;
        padding: 20px 10px;
        width: 100%;
        overflow: auto;
        box-sizing: border-box;

        .img-thumbnail{
            position: relative;
            display: inline-block;
            margin-right: 10px;
            max-width: 60px;
            height: 45px;
            opacity: 0.5;
            text-align: center;
            &.active{
                opacity: 1;
            }
            &.new{
                .circle{
                    visibility: visible;
                }         
            }
            .circle{
                visibility: hidden;
                position: absolute;
                left: -4px;
                top: -4px;
                display: block;
                width: 8px;
                height: 8px;
                background-color: #48b152;
                border-radius: 50%;
            }
            img{
                max-width: 100%;
                max-height: 100%;
            }
        }

        .imgs-thumbnail{
            display: block;
        }
        .pipeImg-buttons{
            display: none;
            top: 10px;
        }
        &.mark-all{
            height: 45px;
            padding: 0;
            .imgs-thumbnail{
                display: none;
            }
            .pipeImg-buttons{
                display: block;
            }
        }
    }


}
.pipeImg-tip{
    display: none;
    width: 176px;
    position: absolute;
    z-index: 3;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -88px;
    color: #ecf6ff;
    border: 1px solid #222;
    .pipeImg-tip-header{
        background-color: #3a5978;
        height: 32px;
        padding-left: 10px;
        line-height: 32px;
    }
    .pipeImg-tip-main{
        background-color: #294867;
        text-align: center;
        padding: 10px;    
        .pipeImg-tip-content{
            padding-bottom: 10px;
        }

        .pipeImg-button{
            display: inline-block;
            padding: 0 15px;
            line-height: 24px;
            color: #ecf6ff;
            font-size: 12px;
            background-color: #42658d;
            border-radius: 2px;
            border: 1px solid #222;
            
            &.button-confirm{
                background-color: #174374;
                margin-right: 10px;
            }
            &.pipeImg-button:hover{
                background-color: #0e2746;
            }
        }
    }
}