@import './var';
@import './reset';
@import './cropbox';
@import './dragbox';

.pipe-dialog{
    // display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2025;
    top: 0px;
    left: 0px;
    overflow: hidden;
    .pipe-mask{
        height: 100%;
        background: rgb(0, 0, 0) none repeat scroll 0% 0%;
        opacity: 0.4;
    }
}
.pipeImg-wrapper{
    // width: 740px;
    // height: 580px;
    background-color: #212234;
    position: absolute;
    top: 50%;
    margin-top: -290px;
    left: 50%;
    margin-left: -370px;
    
    .menu{
        font-size: 0;
        .item{
            &:hover,&.active{
                border-bottom: 1px solid #8ac3d4;           
            }
            &:hover{
                .item-sub{
                    display: block;
                }
            }
            .item-sub{
                display: none;
                position: absolute;
                left: 0;
                top: 45px;
                width: 150px;
                z-index: 3;
                border-right: none;
                background-color: #393a4c;
            }
        }
    }
    .item{
        position: relative;
        display: inline-block;
        border-right: 1px solid #48495d;
        box-sizing: border-box;
       
    }
    .btn{
        display: block;
        padding: 0 20px;
        line-height: 44px;
        color: #fff;
        font-size: 14px;
        
    }
    .btn-close{
        position: absolute;
        right: 0;
        top: 0;
        border-left: 1px solid #48495d;
    }
    .buttons{
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 0;
        .button{
            display: inline-block;
            padding: 0 10px;
            line-height: 26px;
            color: #fff;
            font-size: 14px;
            background-color: #555d72;
            border-radius: 4px;
            &.button-main{
                background-color: #48b152;
                margin-right: 10px;
            }
            &.button-confirm{
                background-color: #E64545;
                margin-right: 10px;
            }
        }
    }
    .pipe-header{
        position: relative;
        background-color: #393a4c;
    }
    .pipe-content-container{
        display: none;
        &.active{
            display: block;
        }
    }
    .pipe-content{
        // height: 454px;
        // padding: 10px 0;
        overflow: hidden;
        .panel{
            display: none;
            &.active{
                display: block;
            }
            &.panel-mark-all{
                position: relative;
                .img-box{
                    width: 600px;
                    padding-right: 120px;
                }
                .imgs-thumbnail{
                    position: absolute;
                    right: 20px;
                    top: 0;



                    .img-thumbnail{
                        display: block;
                        margin-bottom: 10px;
                        max-width: 86px;
                        height: 62px;
                        opacity: 0.5;
                        &.active{
                            opacity: 1;
                        }
                        img{
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                }
            }
        }
        .scale-img-wrapper{
            position: absolute;
            left: 50%;
            top: 50%;
        }
        .img-box{
            position: relative;
            width: 720px;
            height: 420px;
            margin: 10px;
            display: flex;
            align-items:center;
            justify-content:center;

        }
        .content-footer{
            position: relative;
            padding: 10px 0;
            height: 34px;
            background-color: #212234;
            
            label,.txt{
                color: #fff;
            }
            input[type=checkbox]{
                width: 20px;
                height: 20px;
                background: #fff;
                color: #000;
            }
        }
    
        .btn{
            padding: 5px 20px;
        }
        .size{
            display: block;
            padding: 5px 20px;
            color: #fff;
            font-size: 16px;
        }
    }
    .pipe-footer{
        position: relative;
        background-color: #393a4c;
        font-size: 0;
        padding: 20px 10px;

        .img-thumbnail{
            position: relative;
            display: inline-block;
            margin-right: 10px;
            max-width: 60px;
            height: 45px;
            opacity: 0.5;
            text-align: center;
            &.active{
                opacity: 1;
            }
            &.new{
                .circle{
                    visibility: visible;
                }         
            }
            .circle{
                visibility: hidden;
                position: absolute;
                left: -4px;
                top: -4px;
                display: block;
                width: 8px;
                height: 8px;
                background-color: #48b152;
                border-radius: 50%;
            }
            img{
                max-width: 100%;
                max-height: 100%;
            }
        }

        &.mark-all-footer{
            height: 45px;
            padding: 0;
        }
    }


}